@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="jumbotron">
        <h1>@ViewData["Jumbotron"]</h1>
    </div>
</div>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Login to view the beverage data.</p>
    </div>
